body {
    background: linear-gradient(to right, rgb(73, 21, 216), rgb(224, 101, 224));

}


.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabeçalho-imagem {
width: 200px;
height: 250px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}
.promocao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}