body {
    background: linear-gradient(to right, rgb(73, 21, 216), rgb(224, 101, 224));

}


.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.cabeçalho-imagem {
width: 200px;
height: 250px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.promocaoDaSemana {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    background-color: orangered;

}
.promocao {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.maisVendidos {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    color: white;
    background-color: orangered;
}